* {

    font-family: 'IBM Plex Sans';
    background: transparent;
    box-sizing: border-box;

}

body {
    background: rgba(35, 35, 40, 0.92);
    margin: 0;
}

.button {

    display: inline-block;
    padding: 10px 30px;
    border-radius: 7px;
    color: #fff;
    background: rgba(35, 35, 40, 0.92);
    width: auto;
    transition: ease-in-out 0.2s;
    box-shadow: 2.0px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
    margin: 20px;


}

.button:hover {

    transform: scale(1.02);
    box-shadow: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);

}

.section-title {
    font-size: 7vh;
    color: #000;
    background: transparent;
    padding: 10px;
    margin: 0;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); */
}

.black-text {
    color: #000;
}

.white-text {
    color: #fff;
}

/* ---------------------------------------------------------------- */

.navbar-wrapper {
    position: fixed;
    height: 4rem;
    width: 100vw;
    background: rgba(35, 35, 40, .99);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 999;
}

.navbar-wrapper a {
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;

    transition: ease-in-out 0.2s;
    box-shadow: 0.5px 3.7px 3.7px hsl(0deg 0% 0% / 0.11);

    margin: 15px;
    padding: 7px 30px;
}

.navbar-wrapper a:hover {
    transform: scale(1.005);
    box-shadow: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);
}

/* ---------------------------------------------------------------- */

.title-wrapper {
    height: calc(100vh - 4rem);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(35, 35, 40, 0.92);
    margin: 0;
    padding-top: 4em;
}

.name {
    color: #fff;
    font-size: 20vh;
    top: -2em;
}

.hero-pic {

    border-radius: 50%;
    width: 30vw;
    aspect-ratio: 1;
    border: 10px solid rgba(35, 35, 40, 0.92);
    overflow: hidden;
    background: #fff;

}

.hero-pic img {

    object-fit: contain;
    width: 100%;
    height: 100%;

}

.name-description-container {

    color: #fff;
    font-size: 40px;
    width: 40vw;


}

.name-description-container h1 {

    font-size: 70px;
    margin: 0;
    font-weight: 400;

}

.name-description-container p {

    font-size: 20px;
    padding-left: 20px;
    margin: 5px;
    

}


/* ---------------------------------------------------------------- */

.experience-wrapper {
    width: auto;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1.5em; */
    flex-direction: column;
    margin: 0;
    padding: 5vh;
    box-shadow: 2.0px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
}

.experience-card {

    display: flex;
    flex-direction: column;
    box-shadow: 2.0px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
    border-radius: 5px;
    width: 80vw;
    transition: ease-in-out 0.2s;
    overflow: hidden;
    color: rgba(35, 35, 40, 0.92);
    background: #fff;
    padding: 0px 30px;
    margin: 10px;

}

.experience-card:hover {

    transform: scale(1.005);
    box-shadow: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);

}

.experience-card h1 {

    font-size: 20px;

}

.experience-card p {

    font-size: 15px;
    padding: 0 5px;

}

/* ---------------------------------------------------------------- */

.projects-wrapper {
    width: auto;
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    margin: 5vh 0;
}

.projects-scroll-container {
    width: 100vw;
    overflow: hidden;
    /* background: rgba(35, 35, 40, 0.92); */
    background: transparent;
    padding: 30px 0;
}

.scroll-track {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    /* width: 200vw; */
    gap: 1em;
    animation: scroll 20s linear infinite;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}


.project-card {

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    box-shadow: 2.0px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
    border-radius: 7px;
    width: 250px;
    aspect-ratio: 0.7;
    transition: ease-in-out 0.2s;
    overflow: hidden;
    color: #fff;
    background: #fff;
    margin: 10px;
    border: rgb(35, 35, 40) solid 2px;


}

.project-card:hover {

    transform: scale(1.01);
    box-shadow: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);

}

.img-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px;
}

.img-wrapper img {

    width: 80%;
    height: 100%;
    object-fit: cover;
    
}

.project-card .description-box {

    padding: 0 10%;
    background: rgba(35, 35, 40, 0.92);
    height: 50%;
    overflow: hidden;
    /* border-radius: 5px; */

}

.project-card h1 {

    font-size: 20px;

}

.project-card p {

    font-size: 13px;
    padding: 0 3px;

}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.track-group {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    gap: 10px;
}

/* ---------------------------------------------------------------- */

.footer-wrapper {
    height: 20px;
    width: auto;
    background: rgba(35, 35, 40, 0.92);
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

/* ---------------------------------------------------------------- */

/* .projects-page-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    padding: 2em;
    background: #f5f5f5;
}

.project-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
} */